<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" maxRequestLength="51200" executionTimeout="360" />
    <sessionState timeout="5" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="fa-IR" uiCulture="fa-IR" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <!-- Local Test Environment -->
    <add name="TodoAppDB" connectionString="Data Source=DESKTOP-MSRZD\MSRDINANI;Initial Catalog=ToDo;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!-- User 2 Connection (Eler) -->
    <add name="TodoAppDB_Eler" connectionString="Data Source=DESKTOP-LNCBN7V\ELER;Initial Catalog=TodoAppDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <!-- Production (Commented out)
    <add name="TodoAppDB" connectionString="Data Source=SQL5106.site4now.net;Initial Catalog=db_ac2fe4_todo;User Id=db_ac2fe4_todo_admin;Password=taskquest2025;Connect Timeout=30" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>